@import url("reset.css");

/* global css here! */

html {
  font-family: 'Inter', sans-serif;
} 

body { 
  background-color: rgb(229, 229, 229);
  height: 100vh; 
  width: 100vw;
}

ul {
  list-style: none; 
  margin: 0; 
  padding: 0;
}

#root {
  /* height: 100vh; */
  width: 100vw;
  padding: 4vh 6vw 0 6vw;
  display: flex;
  gap: 3vw; 

}


.form-container {
  display: flex;
  flex-direction: column; 
}





/* RESUME SECTION */
.resume-section {
display: flex;
flex-direction: column;
min-width: 800px;
}

.resume-header {
background-color: #123b6e;
width: auto;
min-height: 150px;
}

.resume-body {
background-color: white;
width: auto;
padding: 30px;  
}

.form-section-modal {
  height: auto;
  width: auto;
  background-color: white;
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 3vh;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ BUTTON */
/* CSS */
.button-1 {
  background-color: #357699;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 12px;
  margin-bottom: 12px;
}

.button-1:hover,
.button-1:focus {
  background-color: #4091bd;
}

.utility-center {
  display: flex;
  justify-content: center;
}

.btns-row {
  display: flex;
  gap: 5px;
}

.form-modal-title {
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 2em;
}




